<div class="container flex items-center flex-col p-5">
  <h1>Wedding Registry</h1>
  <p>The best present you possibly give us</p>

  <form>
    <div class="block">
      <label class="text-slate-800 mb-2">Your Name</label>
      <input
        class="border-2 border-slate-200 p-2 text-slate-900 rounded-lg"
        placeholder="Enter your name"
      />
    </div>

    <div class="radio-group">
      <label>Attending</label>
      <div>
        <p>Yes, I'll be there</p>
        <p>Sorry, I Can't Come</p>
      </div>
    </div>

    <button>Confirm Registry</button>
  </form>
</div>
