<div class="flex flex-col justify-center items-center gap-8 py-10">
  <h1 class="text-4xl text-theme-deep">Together Forever</h1>
  <div class="flex flex-col sm:flex-row max-w-[800px] p-5 gap-3">
    <div class="block">
      <h3 class="text-2xl mb-4 text-center uppercase text-theme-main">
        October 2024
      </h3>
      <div class="grid grid-cols-7 gap-2">
        @for (item of weekdays; track item;) {
        <p class="font-bold">{{ item }}</p>
        }
      </div>
      <div class="grid grid-cols-7 gap-2 mt-3">
        @for (item of dates; track item;) {
        <div class="relative">
          @if(item == 15) {
          <img src="/icons/heart-outline.svg" class="absolute heart-img" />
          }
          <p>{{ item }}</p>
        </div>
        }
      </div>
    </div>
    <div class="image-container">
      <img
        class="rounded-xl w-[400px]"
        src="https://res.cloudinary.com/ruhi-birthday/image/upload/v1722844793/masum-ruhi/IMG_20211211_154834_nvzpqq.jpg"
      />
      <p class="text-5xl font-heading text-theme-main text-center mt-3">
        Masum & Ruhi
      </p>
    </div>
  </div>
</div>
