.timeline-both-side {
  float: left;
  width: 96%;
  position: relative;
  box-sizing: border-box;
}
.timeline-both-side:before {
  background-color: #ccc;
  bottom: 0;
  content: " ";
  left: 50%;
  position: absolute;
  top: 0;
  width: 1px;
}
.timeline-both-side:after {
  border-radius: 50%;
  bottom: -22px;
  content: "";
  height: 18px;
  left: 50%;
  margin-left: -11px;
  position: absolute;
  width: 18px;
  border: 2px solid #ccc;
}
.timeline-both-side li {
  position: relative;
  float: left;
  width: 100%;
}
.timeline-both-side li .border-line {
  left: 50%;
  margin-left: -8%;
  position: absolute;
  top: 10px;
  width: 8%;
  z-index: 100;
}
.timeline-both-side li.opposite-side .border-line {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -8%;
}
.timeline-both-side li .border-line:before {
  background-color: #c782c3;
  content: "\2661";
  height: 32px;
  position: absolute;
  right: -17px;
  top: -3px;
  width: 32px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-size: 28px;
}
.timeline-both-side li.opposite-side .border-line:before {
  left: -16px;
  right: auto;
}
.timeline-both-side li .timeline-description {
  float: left;
  position: relative;
  width: 45%;
}
.timeline-both-side li.opposite-side .timeline-description {
  float: right;
}

.row {
  float: left;
  width: 100%;
}
