.countdown {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://res.cloudinary.com/ruhi-birthday/image/upload/v1722845184/masum-ruhi/IMG20210919170104_buefgu.jpg);
  background-position: center;
  background-size: cover;
}
