<div
  class="flex flex-col justify-center items-center gap-8 py-10 sm:pb-48 bg-theme-light invitation"
>
  <h1 class="text-4xl text-white">Dawat-e-Walima</h1>
  <div class="flex flex-col sm:flex-row max-w-[800px] p-5">
    <div
      class="grid place-content-center bg-white rounded-t-2xl sm:rounded-l-2xl p-7"
    >
      <h1 class="text-6xl text-theme-main text-center">Save the Date</h1>
      <a
        download="MasumWedsRuhi.ics"
        href="myevents.ics"
        class="border-theme-main text-theme-main text-lg border-2 rounded-full text-center py-2 mt-12 hover:bg-theme-main hover:text-white"
        >Add to Calender</a
      >
    </div>
    <div
      class="flex flex-col justify-center items-center gap-3 p-8 bg-theme-main rounded-b-2xl sm:rounded-r-2xl text-white"
    >
      <h1 class="text-5xl font-heading">Masum & Ruhi</h1>
      <p class="text-sm text-slate-100 text-center">
        Request the honor of your presence on our wedding day
      </p>
      <span class="text-xl flex flex-row items-center gap-1"
        ><i class="icon-calendar"></i>
        <h2>October 16, 2024</h2></span
      >
      <span class="text-lg flex flex-row items-center gap-1"
        ><i class="icon-clock"></i>
        <h5>02:00 pm</h5></span
      >
      <span
        class="text-base text-center text-slate-100 flex flex-row items-center gap-1"
        ><i class="icon-map-pin"></i>
        <p>
          Sahapur, Panchla, Howrah, Pincode- 711310 near Sahapur 29 no. Railgate
        </p></span
      >

      <h2 class="text-xl">Reception to Follow</h2>
    </div>
  </div>
</div>
