<div
  class="flex flex-col justify-center items-center gap-8 pt-10 pb-48 bg-teal-900/50 invitation"
>
  <h1 class="text-4xl text-white">Invitation</h1>
  <div class="flex flex-row max-w-[800px]">
    <div class="grid place-content-center bg-white rounded-l-2xl p-7">
      <h1 class="text-7xl text-teal-800 text-center">Save the Date</h1>
    </div>
    <div
      class="flex flex-col justify-center items-center gap-3 p-8 bg-teal-800 rounded-r-2xl text-white"
    >
      <h1 class="text-3xl font-bold">Masum & Ruhi</h1>
      <p class="text-sm text-slate-100">
        Request the honor of your presence on our wedding day
      </p>
      <h2 class="text-xl">October 16, 2024</h2>
      <h5 class="text-lg">on 02:00 pm</h5>
      <p class="text-base text-center text-slate-100">
        at Sahapur, Panchla, Howrah, Pincode- 711310 near Sahapur 29 no.
        Railgate
      </p>
      <h2 class="text-xl">Reception to Follow</h2>
    </div>
  </div>
</div>
