<div class="container flex items-center flex-col p-5">
  <h1 class="text-4xl text-teal-700 text-center mb-5 mt-10">Wedding Gallery</h1>
  <!-- <div class="row mb-3">
    @for (images of galleryImages; track images; let isOdd=$odd) {
    <div class="column">
      @for (image of images; track image; let isOdd=$odd) {
      <img [src]="image" alt="gallery-image" />
      }
    </div>
    }
  </div> -->

  <button
    class="text-teal-700 px-7 py-1 text-xl border-2 rounded-full border-teal-700 hover:bg-teal-700 hover:text-white"
  >
    View More
  </button>
</div>

<app-slider [slides]="galleryImages"></app-slider>
