<div class="relative">
  <!-- Hero Section -->
  <div class="relative hero-section bg-black-5/10 h-[60vh] sm:h-[90vh]">
    <div
      class="relative w-full h-[60vh] sm:h-[90vh] z-10 max-w-[1200px] flex flex-col gap-3 text-white mx-auto p-5 sm:p-28"
    >
      <p class="text-lg">Save the date</p>
      <div class="text-6xl flex flex-col sm:flex-row gap-5 font-heading">
        <h1>Masum</h1>
        <img src="/icons/heart-arrow.svg" class="w-10 ml-8 sm:ml-0" />
        <h1>Ruhi</h1>
      </div>
      <h3 class="text-3xl">We're Getting Married</h3>
      <div class="text-xl inline-flex gap-2 items-end">
        <span>October</span>
        <span class="text-4xl font-bold text-theme-main">15</span>
        <span>2024</span>
      </div>
    </div>
  </div>

  <!-- We are getting married -->
  <app-getting-married></app-getting-married>
  <app-love-story></app-love-story>
  <app-countdown></app-countdown>
  <app-wedding-calender></app-wedding-calender>
  <app-invitation></app-invitation>
  <app-wedding-gallery></app-wedding-gallery>
  <app-wedding-registry></app-wedding-registry>
</div>
