<div class="relative">
<!-- Hero Section -->
<div class="relative bg-black-5/10 h-[90vh]">
  <img class="absolute w-full h-[90vh] hero-section" [src]="landingPageImgUrl" />
  <div class="absolute z-10 max-w-[1200px] flex flex-col gap-3 text-white mx-auto p-28">
    <p class="text-lg">Save the date</p>
    <div class="text-6xl inline-flex gap-4">
      <h1>Masum</h1>
      <i>love</i>
      <h1>Ruhi</h1>
    </div>
    <h3 class="text-3xl">We're Getting Married</h3>
    <div class="text-xl inline-flex gap-2 items-end">
      <span>October</span>
      <span class="text-4xl font-bold">15</span>
      <span>2024</span>
    </div>
  </div>
</div>

<!-- We are getting married -->
  <app-getting-married></app-getting-married>
</div>
