.hero-section {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

  &::before {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
      url(https://res.cloudinary.com/ruhi-birthday/image/upload/v1722844793/masum-ruhi/IMG_20211211_154834_nvzpqq.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
