<!-- <img
  src="https://res.cloudinary.com/ruhi-birthday/image/upload/v1722846066/masum-ruhi/Screenshot_2024-08-05_135039_xderkt.png"
/> -->

<div class="countdown flex flex-col gap-7 items-center pt-20 pb-24">
  <div class="container p-5">
    <div class="font-lavishly text-white">
      <h1 class="text-9xl font-bold">130km</h1>
      <p class="text-5xl">distance in between us...</p>
    </div>

    <div class="space-x-2 text-white inline-flex mt-7">
      <p>Burdwan to Howrah</p>
      <div class="border"></div>
      <p>Will be zero on 15th October 2024</p>
    </div>
  </div>
</div>
