.countdown {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://res.cloudinary.com/ruhi-birthday/image/upload/v1722846066/masum-ruhi/Screenshot_2024-08-05_135039_xderkt.png);
  background-position: center;
  background-size: cover;
}
