/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  max-width: 950px;
  margin: 0 auto;
}

.input {
  &-field {
    @apply border border-theme-light p-2 text-slate-900 rounded-lg w-full focus:shadow-md outline-theme-main;
  }
  &-label {
    @apply text-slate-700 mb-1 block text-sm;
  }
}

.radio {
  &__button {
    @apply relative flex flex-col bg-white px-5 py-2 rounded-lg border border-theme-light cursor-pointer;
  }
  &__heading {
    @apply text-lg font-bold text-gray-900 mr-1;
  }
  &__desc {
    @apply text-sm font-semibold text-gray-500;
  }
  &__wrapper {
    &-main {
      @apply hidden absolute inset-0 border-2 border-theme-main bg-theme-light bg-opacity-10 rounded-lg;
    }

    &-icon {
      @apply absolute top-2.5 right-2 h-5 w-5 inline-flex items-center justify-center rounded-full bg-theme-light;
    }
  }

  &__icon {
    @apply h-4 w-4 text-theme-main;
  }

  &__input {
    @apply absolute h-0 w-0 appearance-none;
  }
}

input[type="radio"]:checked + span {
  display: block;
}
